@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <div class="col-md-3" style="text-align: right;" id="loginButton">
        @if (ViewBag.AdminRole == true)
        {
            <li class="navbar-link">
                @Html.ActionLink("Manage", "Index", "Manage")
            </li>
        }
        @Html.ActionLink("Log Off", "LogOffCheckIn", "Account")
    </div>
    <div class="container-fluid">
        <div class="row">
            <br />
            <div class="col-md-3"></div>
            <div class="col-md-4" style="margin-left:auto;margin-right:auto; text-align: center; font-size: 40px; margin-top: 0px;" id="userName">
                @User.Identity.GetUserName()
            </div>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}